<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>운동정보</title>
<style>
	#write-btn{
			display: inline-block;
	}
	
	#searchFrm{
		display: flex;
		float: right;
	}
	
	.btn{
		width: 70px;
		height: 30px;
		background-color: rgba(241, 229, 215, 1);
		border: 0.8px solid #D9D9D9;
	}
	input{
		width: 200px;
		height: 30px;
		border: 0.8px solid #D9D9D9;
	}
	
</style>
</head>
<body>
<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section product-list-wrap">
			<div class="page-title">운동정보</div>
			<div class="list-header">
			<!--th:if="${session.member != null && session.member.memberLevel == 1}"-->
			<a class="btn-square" id="write-btn" href="/exercise/editFrm">글쓰기</a>
				<form action="/exercise/search" method="get" id="searchFrm">
					<div class="input-item">
						<input type="text" name="keyword">
						<button type="submit" class="btn">조회</button>
					</div>
				</form>
			</div>
			<div>
				<table class="tbl">
					<tr>
						<th style="width:10%;">글번호</th>
						<th style="width:45%;">제목</th>
						<th style="width:15%;">작성자</th>
						<th style="width:20%;">작성일</th>
						<th style="width:10%;">조회수</th>
					</tr>
					<tr th:each="exercise : ${list}">
						<td><a th:href="@{/exercise/view(boardNo=${exercise.boardNo})}"><span th:text="${exercise.boardTitle}"></span>(<span th:text="${exercise.commentCount}"></span>)</a></td>
						<td th:text="${exercise.boardWriter}"></td>
						<td th:text="${exercise.regDate}"></td>
						<td th:text="${exercise.likeCount}"></td>
						<td th:text="${exercise.readCount}"></td>	
					</tr>
				</table>
			</div>
			<div id="pagenavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
<th:block th:include="common/footer"></th:block>
</body>
</html>