<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>운동정보</title>
<style>
	.content>.view-tbl tr>*{
		font-size : 18px;
	}
	.view-tbl tr>td>span{
		font-size : 18px;
	}
	.like-wrap>span{
		line-height:80px;
		font-size: 24px;
	}
	.update-btn-wrap{
		height: 80px;
		line-height: 80px;
		padding : 0px 20px;
	}
	.like-wrap{
		height: 80px;
		line-height: 80px;
		padding : 0px 20px;
		text-align: center;
	}
	.button-wrap>.like-wrap{
		text-align: center;
	}
	.favorite{
		color:var(--point1);	
		cursor: pointer;	
	}
	.notFavorite{
		color:var(--point1);
		cursor: pointer;
	}
	.input-comment-box{
		display: flex;
		align-items: center;
		margin: 20px 0;
	}
	.input-comment-box>[name=boardCommentContent]{
		width: 800px;
		height: 50px;
	}
	.content-wrap{
		min-height: 500px;
		text-align: left;
	}
	.comment-wrap{
		border-top: 1px solid #ccc; 
	}
	.comment-wrap>ul{
		border-bottom: 1px solid #ccc;
	}
	.comment-content{
		margin: 10px 0;
		padding : 0 10px;
	}
	.comment-info>.material-icons{
		font-size: 18px;
	}
	.comment-info *{
		margin: 0 5px;
	}
	.recShow:hover{
		text-decoration: underline;
	}
	.reComment-box{
		display: flex;
		justify-content: space-between;
		
	}
	[name=boardCommentContent]{
		resize:none;
	}
	.comment-write-btn{
		height: 50px;
	}
	.commentContent{
		display: flex;
		
	}
	.commentContent>[name=boardCommentContent]{
		width: 500px;
		resize:none;
	}

</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<div class="page-title">운동정보 상세보기</div>
		<table class="tbl view-tbl">
			<tr>
				<th colspan="5" th:text="${exercise.boardTitle}"></th>
			</tr>
			<tr>
				<th>작성자</th>
				<td style="width:50%; text-align: left;" th:text="${exercise.boardWriter}"></td>
				<td>조회수 : <span th:text="${exercise.readCount}"></span></td>
				<td>좋아요수 : <span th:text="${exercise.likeCount}"></span></td>
				<td>작성일 : <span th:text="${exercise.regDate}"></span>
			</tr>
			<tr>
				<th colspan="1">첨부파일</th>
				<td colspan="4" style="text-align: left;">
					<th:block th:each="file : ${exercise.fileList}">
						<a th:href="@{/exercise/filedown(filename=${file.filename},filepath=${file.filepath})}">
							<span class="material-icons">description</span>
							<span  th:text="${file.filename}"></span>
						</a>
					</th:block>
				</td>
			<tr>
				<td colspan="5">
					<div class="content-wrap" th:utext="${exercise.boardContent}"></div>
					<div class="like-wrap">
			    		<span th:text="${exercise.likeCount}"></span>
						<span th:if="${exercise.isLike}==1" class="material-icons favorite">thumb_down</span>
						<span th:if="${exercise.isLike}==0" class="material-icons notFavorite">thumb_up</span>
					</div>
				</td>
		</table>
		<div class="update-btn-wrap" th:if="${session.member != null && session.member.memberNo == exercise.memberNo}">
			<a class="btn-round" th:href="@{/exercise/updateFrm(boardNo=${exercise.boardNo})}">수정하기</a>
			<a class="btn-round g" th:onclick="exerciseDelete([[${exercise.boardNo}]])">삭제하기</a>
		</div>
			<form action="/exercise/insertExerciseComment" method="post">
				<div class="input-item1 input-comment-box">
					<span class="material-icons">person</span>
					<span th:if="${session.member} != null" th:text=${session.member.memberId}></span>
					<textarea name="boardCommentContent"></textarea>
					<button type="submit" class="btn-square comment-write-btn">댓글작성</button>
					<input type="hidden" name="boardRef" th:value="${exercise.boardNo}">
				</div>
			</form>
		<span th:text="'댓글수 : '+${exercise.commentCount}"></span>
		<div class="comment-wrap">
			<ul th:each="exerciseComment : ${exercise.boardCommentList}">
				<li>
					<p class="comment-info">
						<span class="material-icons">person</span>
						<span th:text="${exerciseComment.boardCommentWriter}"></span>
						<span th:text="'작성일 : '+${exerciseComment.boardCommentDate}"></span>
						<span th:text="'좋아요수 : '+${exerciseComment.likeCount}"></span>
						<span th:if="${exerciseComment.isLike}==1" class="material-icons favorite" th:onclick="likePush(this,[[${boardComment.boardCommentNo}]]);">thumb_down</span>
						<span th:if="${exerciseComment.isLike}==0" class="material-icons notFavorite" th:onclick="likePush(this,[[${boardComment.boardCommentNo}]]);">thumb_up</span>
						<a th:if="${session.member != null && session.member.memberNo == exerciseComment.memberNo}" href="javascript:void(0)" th:onclick="updateShow(this)">수정</a>
						<a th:if="${session.member != null && session.member.memberNo == exerciseComment.memberNo}" href="javascript:void(0)" th:onclick="deleteComment([[${exerciseComment.boardCommentNo}]])">삭제</a>
					</p>
					<p class="comment-content"th:text="${exerciseComment.boardCommentContent}"></p>
					
					<form action="/exercise/updateComment" method='post' style="display:none;">
						<div class="input-item1 commentContent">
							<textarea name="boardCommentContent" th:text="${exerciseComment.boardCommentContent}"></textarea>
							<button type="submit" class="btn-square">수정</button>
							<input type="hidden" name="boardCommentNo" th:value="${exerciseComment.boardCommentNo}"> 
							<input type="hidden" name="boardRef" th:value="${exercise.boardNo}">
						</div>
					</form>
					<div class="reComment-box">
						<span th:text="'답글수 : '+${exerciseComment.reCommentCount}"></span>
						<div>
							<a th:if="${exerciseComment.reCommentCount > 0}" href="javascript:void(0)" th:onclick="commentShow(this,[[${exerciseComment.boardCommentNo}]],[[${session.member==null?-1:session.member.memberNo}]],[[${session.member==null?null:session.member.memberId}]],1);">답글보기</a>
							<a th:if="${session.member != null}" href="javascript:void(0)" class="recShow" onclick="recShow(this);">답글달기</a>
						</div>
					</div>
				</li>
				<li>
					<form action="/exercise/insertBoardComment" method="post">
						<div th:if="${session.member != null}" class="input-item1 input-comment-box" style="display:none;">
							<span class="material-icons">person</span>
							<span th:text=${session.member.memberId}></span>
							<textarea name="boardCommentContent" style="resize:none;"></textarea>
							<button type="submit" class="btn-square comment-write-btn">댓글작성</button>
							<input type="hidden" name="boardRef" th:value="${exercise.boardNo}">
							<input type="hidden" name="boardCommentRef" th:value="${exerciseComment.boardCommentNo}">
						</div>
					</form>
				</li>
			</ul>
		</div>
	</main>
	<script>
		const boardNo = "[[${exercise.boardNo}]]";
		$(".like-wrap>.favorite,.notFavorite").on("click",function(){
			const likeSpan = $(this);
			const isLike = likeSpan.hasClass("favorite")?1:0;
			$.ajax({
				url : "/exercise/exerciseLikePush",
				data : {boardNo : boardNo, isLike : isLike},
				type : "post",
				success : function(data){
					if(data == -1){
						console.log("처리오류");
					}else if(data == -10){
						alert("로그인 후 이용하시길 바랍니다.");							
					}else{
						if(isLike === 1){
							likeSpan.removeClass("favorite");		
							likeSpan.addClass("notFavorite");
							likeSpan.text("thumb_up");
						}else{
							likeSpan.removeClass("notFavorite");
							likeSpan.addClass("favorite");
							likeSpan.text("thumb_down");
						}
						$(".view-tbl tr>td>span").eq(1).text(data);
						likeSpan.prev().text(data);
					}
				},
				error : function(){
					console.log("error");
				}
			});
		});
		function likePush(obj, boardCommentNo){
			const likeSpan = $(obj);
			const isLike = likeSpan.hasClass("favorite")?1:0;
			$.ajax({
				url : "/exercise/exerciseCommentLikePush",
				data : {boardCommentNo : boardCommentNo, isLike : isLike},
				type : "post",
				success : function(data){
					if(data == -1){
						console.log("처리오류");
					}else if(data == -10){
						alert("로그인 후 이용하시길 바랍니다.");							
					}else{
						if(isLike === 1){
							likeSpan.removeClass("favorite");		
							likeSpan.addClass("notFavorite");
							likeSpan.text("thumb_up");
						}else{
							likeSpan.removeClass("notFavorite");
							likeSpan.addClass("favorite");
							likeSpan.text("thumb_down");
						}
						$(obj).prev().text("좋아요수 : "+data);
					}
				},
				error : function(){
					console.log("error");
				}
			});
		};
		function recShow(obj){
			const index = $(".recShow").index(obj);
			if($(obj).text() === "답글달기"){
				$(obj).text("취소");
			}else{
				$(obj).text("답글달기");
			}
			$(".input-comment-box").eq(index+1).toggle();
		}
		function commentShow(obj,boardCommentNo,memberNo,memberId,level){
			$.ajax({
				url : "/exercise/exerciseReCommentList",
				data : {boardCommentNo : boardCommentNo,memberNo : memberNo},
				type : "post",
				success : function(data){
					const reCommentBoxDiv = $("<div style='border-top:1px solid #ccc; margin-left:"+(level*10)+"px;'>");
					for(let i=0;i<data.length;i++){
						const bc = data[i];
						const ul = $("<ul>");
						const li1 = $("<li>");
						const commentWrapDiv = $("<div style='overflow:hidden;'>");
						const iconSpan = $("<span class='material-icons' style='float:left; font-size:40px;'>");
						iconSpan.text("subdirectory_arrow_right");
						const infoP = $("<p class='comment-info'>");
						const iconSpan2 = $("<span class='material-icons'>");
						iconSpan2.text("person");
						const writerSpan = $("<span>");
						writerSpan.text(bc.boardCommentWriter);
						const dateSpan = $("<span>");
						dateSpan.text("작성일 : "+bc.boardCommentDate);
						const likeCountSpan = $("<span>");
						likeCountSpan.text("좋아요수 : "+bc.likeCount);
						const likeSpan = $("<span class='material-icons' onclick='likePush(this,"+bc.boardCommentNo+");'>");
						if(bc.isLike == 1){
							likeSpan.addClass("favorite");
							likeSpan.text("thumb_down");
						}else{
							likeSpan.addClass("notFavorite");
							likeSpan.text("thumb_up");
						}
						infoP.append(iconSpan2).append(writerSpan).append(dateSpan).append(likeCountSpan).append(likeSpan);
						const updateForm = $("<form action='/exercise/updateComment' method='post' style='display:none;'>");
						if(memberNo == bc.memberNo){
							const updateA = $("<a href='javascript:void(0)' onclick='updateShow(this);'>").text("수정");
							const deleteA = $("<a href='javascript:void(0)' onclick='deleteComment("+bc.boardCommentNo+");'>").text("삭제");
							infoP.append(updateA).append(deleteA);
							const commentContentDiv = $("<div class='input-item1 commentContent'>");
							const updateTextarea = $("<textarea name='boardCommentContent'>");
							const commentNoInput = $("<input type='hidden' name='boardCommentNo' value='"+bc.boardCommentNo+"'>");
							const boardNoInput = $("<input type='hidden' name='boardRef' value='"+boardNo+"'>")
							updateTextarea.text(bc.boardCommentContent);
							const updateBtn = $("<button type='submit' class='btn-square'>")
							updateBtn.text("수정");
							commentContentDiv.append(updateTextarea).append(updateBtn).append(commentNoInput).append(boardNoInput);
							updateForm.append(commentContentDiv);
						}
						li1.append(infoP);
						const contentP = $("<p class='comment-content'>");
						contentP.text(bc.boardCommentContent);
						const reCommentDiv = $("<div class='reComment-box' style='border-bottom:1px solid #ccc;'>");
						if(i == data.length-1){
							reCommentDiv.css("border","none");
						}
						const reCommentCountSpan = $("<span>");
						reCommentCountSpan.text("답글수 : "+bc.reCommentCount);
						const div = $("<div>");
						if(bc.reCommentCount > 0){
							const commentShowA = $("<a href='javascript:void(0)' onclick='commentShow(this,"+bc.boardCommentNo+","+memberNo+",\""+memberId+"\","+(level+1)+");')'>");
							commentShowA.text("답글보기 ");
							div.append(commentShowA);
						}
						if(memberNo != -1){
							const recShowA = $("<a href='javascript:void(0)' class='recShow' onclick='recShow(this);'>");
							recShowA.text("답글달기");
							div.append(recShowA);
						}
						reCommentDiv.append(reCommentCountSpan).append(div);
						li1.append(contentP).append(updateForm).append(reCommentDiv);
						ul.append(li1);
						if(memberNo != -1){
							const li2 = $("<li>");
							const form = $("<form action='/exercise/insertExerciseComment' method='post'>");
							const inputDiv = $("<div class='input-item1 input-comment-box' style='display:none;'>");
							const inputIconSpan = $("<span class='material-icons'>")
							inputIconSpan.text("person");
							const writerIdSpan = $("<span>").text(memberId);
							const textarea = $("<textarea name='boardCommentContent'>");
							const commentWriteBtn = $("<button type='submit' class='btn-square comment-write-btn'>").text("댓글작성");
							const boardRefInput = $("<input type='hidden' name='boardRef' value='"+boardNo+"'>");
							const boardCommentRefInput = $("<input type='hidden' name='boardCommentRef' value='"+bc.boardCommentNo+"'>");
							inputDiv.append(inputIconSpan).append(writerIdSpan).append(textarea).append(commentWriteBtn).append(boardRefInput).append(boardCommentRefInput)
							form.append(inputDiv)
							li2.append(form);
							ul.append(li2);
						}
							commentWrapDiv.append(iconSpan).append(ul);
							reCommentBoxDiv.append(commentWrapDiv);
						
					}
					$(obj).parent().parent().parent().parent().append(reCommentBoxDiv);
					$(obj).hide();
				},
				error : function(){
					console.log("error");	
				}
			});
		}
		function updateShow(obj){
			if($(obj).text()=='수정'){
				$(obj).text("취소");
			}else{
				$(obj).text("수정");
			}
			$(obj).parent().next().next().toggle();
		}
		function deleteComment(boardCommentNo){
			location.href = "/exercise/deleteComment?boardCommentNo="+boardCommentNo+"&boardNo="+boardNo;
		}
		
		//삭제하기
		function exerciseDelete(boardNo){
			swal({
				title:"게시글 삭제",
				text:"게시글을 삭제하시겠습니까?",
				icon:"warning",
				buttons:{
					cancel:{
						text:"취소",
						value:false,
						visible:true,
						className:"btn-round",
						closeModel:true
					},
					confirm:{
						text:"삭제",
						value:true,
						visible:true,
						className:"btn-point",
						closeModel:true
					}
				}
			}).then(function(isConfirm){
				if(isConfirm){
					location.href="/exercise/delete?boardNo="+boardNo;
				}
			});
		}
		
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>