<!DOCTYPE html>
<footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2><a href="/">칼로리버스</a></h2>
            </div>
            <div class="footer-section about-details">
                <p>사업자등록번호: 612-88-00913<br>서울특별시 영등포구 여의도동 57 이레빌딩<br>TEL: 0503-6984-9311<br>MAIL:
                    KHAClass@kr.or.iei<br>개인정보책임자: 난 아님</p>
            </div>
            <div class="footer-section links">
                <h2>ABOUT US</h2>
                <p><a href="/faq/faqMain?reqPage=1">자주 하는 질문</a><br><a href="/inquery/inqueryMain?reqPage=1">마케팅/제휴문의</a></p>
            </div>
            <div class="footer-section policy">
                <h2>POLICY</h2>
                <p><a href="#">개인정보 처리방침</a><br><a href="#">이용약관</a></p>
            </div>
            <div class="footer-section follow">
                <h2>FOLLOW US</h2>
                <div class="social-icons">
                    <a href="https://ko-kr.facebook.com/"><img src="/image/facebook.png" alt="Facebook"></a>
                    <a href="https://x.com/?lang=ko"><img src="/image/twitter.png" alt="Twitter"></a>
                    <a href="https://www.instagram.com/calorie_bus?igsh=MTNiemhzZDgyYWRxcQ=="><img src="/image/insta.png" alt="Instagram"></a>
                </div>
            </div>
        </div>
    </footer>