<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalorieBus</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header class="header">
        <marquee>
            <span class="notice-item">
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
                <span class="notice-text"><span class="highlight">공지사항</span> 룰렛 이벤트에 5인이 선정되었습니다. 본인 이름이 올라갔는지 확인후 룰렛을 돌려주세요!!!</span>
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
            </span>
            <span class="notice-item">
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
                <span class="notice-text"><span class="highlight">공지사항</span> 종료임박한 공구가 있습니다 얼른 서둘러주세요!!!</span>
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
            </span>
            <span class="notice-item">
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
                <span class="notice-text"><span class="highlight">공지사항</span> 세미 얼마안남았어요 다같이 화이팅!!</span>
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
            </span>
            <span class="notice-item">
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
                <span class="notice-text"><span class="highlight">공지사항</span> 세미끝나면 같이 먹고싶은거 먹으러가요~</span>
                <img src="/image/ezgif.com-animated-gif-maker.gif" alt="Notice Image">
            </span>
        </marquee>
		<div class="logo-container">
        <div class="logo">
            <a href="/">Calorie Bus</a>
        </div>
    </div>
		<ul class="user-menu">
            <th:block th:if="${session.member == null}">
                <li><a href="/member/loginForm">로그인</a></li>
                <li><a href="/member/joinForm">회원가입</a></li>
            </th:block>
            <th:block th:if="${session.member != null}">
                <li><a href="/member/mypage" th:text="${session.member.memberName}"></a></li>
                <li><a href="/member/logout">로그아웃</a></li>
            </th:block>
        </ul>
        <nav class="nav">
            <ul>

                <li><a href="/newsletter/list?category=N1&reqPage=1">뉴스레터</a></li>
                <li><a href="/exercise/list?category=I1&reqPage=1">정보공유서비스</a>


                    <ul class="info-menu">
                        <li><a href="/foodNutrition/food">식단정보</a></li>
                        <li><a href="/exercise/list?category=I1&reqPage=1">운동정보</a></li>
                    </ul>
                </li>
                <li><a href="/product/ingList">공동구매서비스</a></li>
                <li><a href="/bmi/BMI">칼로리계산기</a></li>
                <li><a href="/board/list?category=all&reqPage=1">커뮤니티</a>
                    <ul class="comu-menu">
                        <li><a href="/board/list?category=B1&reqPage=1">자유글</a></li>
                        <li><a href="/board/list?category=B2&reqPage=1">식단토크</a></li>
                        <li><a href="/board/list?category=B3&reqPage=1">성공후기</a></li>
                        <li><a href="/board/list?category=B4&reqPage=1">운동토크</a></li>
                    </ul>
                </li>
                <li><a href="/rulletPage/rullet">이벤트</a>
                    <ul class="event-menu">
                        <li><a href="/rulletPage/rullet">후기이벤트</a></li>
                        <li><a href="/attendance/attendance">출석체크</a></li>
                    </ul>
                </li>
                <li><a href="/faq/cscMain">고객센터</a></li>
            </ul>
        </nav>
    </header>