<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.content {
	background-color: var(--bg2);
}

.section {
	padding: 30px;
}

.info>div {
	background-color: var(--bg1);
	margin: 10px auto;
	border-radius: 5px;
}
.info>div>table{
	padding: 20px;
}
.info>div>div {
	padding: 20px;
}
.title{
	border-bottom: 0.8px solid var(--line1);
}
th {
	text-align: left;
}
.amoutInput{
	width : 70px;
}
.input-item1{
	overflow: hidden;
}
.input-item1>input{
	float: left;
}
#unit1{
	width :50px;
	color : var(--line2);
}
#unit2{
	width : 25px;
	color : var(--line2);
}
.registration{
	padding-top : 30px;
	text-align: center;
}
#infoError1,#infoError2{
	vertical-align : middle;
	padding-left: 20px;
}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	
	<main class="content">
		<section class="section">
			<div class="page-title">상품 등록</div>
			<form action="/product/insert" method="post" enctype="multipart/form-data">
				<div class="info">
					<div>
						<table style="width: 100%;">
							<tr>
								<th style="width: 10%;">판매 시작일</th>
								<td style="width: 20%;">
									<div class="input-item1">
										<input type="date" name="startDate" id="startDate" required>
									</div>
								</td>
								<th style="width: 10%;">판매 종료일</th>
								<td style="width: 60%;">
									<div class="input-item1">
										<input type="date" name="endDate" id="endDate" required>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<div class="title">
							<h4>상품명</h4>
						</div>
						<div class="input-item1">
							<input type="text" style="width:350px;" name="productTitle" id="productTitle" required>
							<input type="text" value="0/100" id="unit1" readonly>
						</div>
					</div>
					<div>
						<div class="title">
							<h4>상품 2줄 소개</h4>
						</div>
						<div class="input-item1">
							<textarea name="productInfo" id="productInfo" required></textarea>
						</div>
					</div>
					<div>
						<div class="title">
							<h4>상품 금액</h4>
						</div>
						<table>
							<tr>
								<td style="width: 100px; height:40px;">상품원가</td>
								<td>
									<div class="input-item1">
										<input type="text" name="productPrice" id="productPrice" required>
										<input type="text" value="원" id="unit2" readonly>
									</div>
								</td>
							</tr>
							<tr>
								<td style="width: 100px; height:40px;">할인가</td>
								<td>
									<div class="input-item1">
										<input type="text" name="productDcPrice" id="productDcPrice" required>
										<input type="text" value="원" id="unit2" readonly>
										<span id="infoError1" style="color:red"></span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<div class="title">
							<h4>수량</h4>
						</div>
						<table>
							<tr>
								<td style="width: 40px;">최소</td>
								<td>
									<div class="input-item1">
										<input type="text" class="amoutInput" name="productMinAmount" id="productMinAmount" required>
										<input type="text" value="개" id="unit2" readonly>
									</div>
								</td>
								<td style="width:50px; text-align: center;">~</td>
								<td style="width: 50px;">최대</td>
								<td>
									<div class="input-item1">
										<input type="text" class="amoutInput" name="productMaxAmount" id="productMaxAmount" required>
										<input type="text" value="개" id="unit2" readonly>
										<span id="infoError2" style="color:red"></span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<div class="title">
							<h4>메인 사진</h4>
						</div>
						<div>
							<input type="file" name="upfile" multiple required>
							<span>*대표 사진은 1장만 선택 가능합니다.</span>
						</div>
					</div>
					<div>
						<div class="title">
							<h4>상세페이지</h4>
						</div>
						<div>
							<textarea name="productContent" id="productContent"></textarea>
						</div>
					</div>
				</div>
				<div class="registration">
					<button type="submit" class="btn-round">상품 등록</button>
				</div>
			</form>
		</section>
	</main>
	
	<script>
	$("#productContent").summernote({
		height:500,
		lang : "ko-KR",
		disableResize:true,
		disableResizeEditor:true,
		resize:false,
		callbacks : {
			//사용자가 이미지를 올리면 동작할 함수 지정
			onImageUpload : function(files){
				//이미지를 선택하면 해당 파일을 매개변수로 받음
				//이미지를 처리할 함수를 실행 -> 이때 매개변수로 첨부한 파일, 에디터 객체를 전송
				for(let i=0;i<files.length;i++){
					uploadImage(files[i],this);
				}
			}
		}
	});
	
	function uploadImage(file, editor){
		const form = new FormData();
		form.append("upfile",file);
		
		$.ajax({
			url : "/product/editorImage",
			type : "post",
			data : form,
			processData : false,
			contentType : false,
			success : function(data){
				$(editor).summernote("insertImage",data);
			},
			error : function(){
				console.log("error");
			}
		});
	}
	window.addEventListener('scroll', function() {
	    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
	        // 페이지 하단에 도달했을 때 실행할 코드
	        console.log('페이지 하단에 도달했습니다.');
	    }
	});
	
	$("#productDcPrice").on("change",function(){
		const price = Number($("#productPrice").val());
		const dcPrice = Number($("#productDcPrice").val());
		if(price > dcPrice){
			$("#productDcPrice").val('');
			$("#infoError1").text('*원가보다 금액이 더 높습니다. 다시 작성해주세요.');
		}else{
			$("#infoError1").text('');
		}
	});
	
	$("#productMaxAmount").on("change",function(){
		const min = Number($("#productMinAmount").val());
		const max = Number($("#productMaxAmount").val());
		if(min > max){
			$("#productMaxAmount").val('');
			$("#infoError2").text('*최대 수량보다 최소 수량의 수가 더 큽니다.');
		}else{
			$("#infoError2").text('');
		}
	});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>