<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.content {
	background-color: var(--bg2);
}

.section {
	padding: 30px;
}

.info>div {
	background-color: var(--bg1);
	margin: 10px auto;
	border-radius: 5px;
}
.info>div>table{
	padding: 20px;
}
.info>div>div {
	padding: 20px;
}
.title{
	border-bottom: 0.8px solid var(--line1);
}
th {
	text-align: left;
}
.amoutInput{
	width : 70px;
}
.input-item1{
	overflow: hidden;
}
.input-item1>input{
	float: left;
}
#unit{
	width : 20px;
	color : var(--line2);
}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="page-title">상품 등록</div>
			<form action="/product/insert" method="post" enctype="multipart/form-data">
				<div class="info">
					<div>
						<table>
							<tr>
								<th style="width: 40px;">상태</th>
								<td style="width: 15%;">
									<div class="select">
										<select name="" id="">
											<option>준비중</option>
											<option>진행중</option>
											<option>종료/마감</option>
										</select>
									</div>
								</td>
								<th style="width: 12%;">판매 시작일</th>
								<td style="width: 20%;">
									<div class="input-item1">
										<input type="date">
									</div>
								</td>
								<th style="width: 12%;">판매 종료일</th>
								<td style="width: 36%;">
									<div class="input-item1">
										<input type="date">
									</div>
								</td>

							</tr>
						</table>
					</div>
					<div>
						<div class="title">
							<h4>상품명</h4>
						</div>
						<div class="input-item1">
							<input type="text">
						</div>
					</div>
					<div>
						<div class="title">
							<h4>상품 2줄 소개</h4>
						</div>
						<div class="input-item1">
							<textarea></textarea>
						</div>
					</div>
					<div>
						<div class="title">
							<h4>상품 금액</h4>
						</div>
						<table>
							<tr>
								<th style="width: 100px; height:40px;">상품원가</th>
								<td>
									<div class="input-item1">
										<input type="text">
										<input type="text" value="원" id="unit" readonly>
									</div>
								</td>
							</tr>
							<tr>
								<th style="width: 100px; height:40px;">할인가</th>
								<td>
									<div class="input-item1">
										<input type="text">
										<input type="text" value="원" id="unit" readonly>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<div class="title">
							<h4>수량</h4>
						</div>
						<table>
							<tr>
								<th style="width: 40px;">최소</th>
								<td>
									<div class="input-item1">
										<input type="text" class="amoutInput">
										<input type="text" value="개" id="unit" readonly>
									</div>
								</td>
								<th>~</th>
								<th style="width: 50px;">최대</th>
								<td>
									<div class="input-item1">
										<input type="text" class="amoutInput">
										<input type="text" value="개" id="unit" readonly>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<div class="title">
							<h4>첨부파일</h4>
						</div>
						<table>
							<tr>
								<th style="width: 100px; height:40px;">메인사진</th>
								<td>
									<div>
										<input type="file" name="upfile" multiple>
									</div>
								</td>
							</tr>
							<tr>
								<th style="width: 100px; height:40px;">상세페이지</th>
								<td>
									<div>
										<input type="file" name="upfile" multiple>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>