<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세보기</title>
<style>
	.content>.view-tbl tr>*{
		font-size : 18px;
	}
	.view-tbl tr>td>span{
		font-size : 18px;
	}
	.like-wrap>span{
		line-height:80px;
		font-size: 24px;
	}
	.update-btn-wrap{
		height: 80px;
		line-height: 80px;
		padding : 0px 20px;
	}
	.like-wrap{
		height: 80px;
		line-height: 80px;
		padding : 0px 20px;
		text-align: center;
	}
	.button-wrap>.like-wrap{
		text-align: center;
	}
	.favorite{
		color:var(--point1);	
		cursor: pointer;	
	}
	.notFavorite{
		color:var(--point1);
		cursor: pointer;
	}
	.input-comment-box{
		display: flex;
		align-items: center;
		gap:5px;
		margin: 20px 0;
	}
	.input-comment-box>[name=boardCommentContent]{
		width: 800px;
		height: 50px;
	}
	.content-wrap{
		min-height: 500px;
		text-align: left;
	}
	.comment-wrap>ul{
		width:100%;
		
		
		
	}
	.comment-info>.material-icons{
		font-size: 18px;
	}
	.recShow:hover{
		text-decoration: underline;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<div class="page-title">게시글 상세보기</div>
		<table class="tbl view-tbl">
			<tr>
				<th colspan="5" th:text="${board.boardTitle}"></th>
			</tr>
			<tr>
				<th>작성자</th>
				<td style="width:50%; text-align: left;" th:text="${board.boardWriter}"></td>
				<td>조회수 : <span th:text="${board.readCount}"></span></td>
				<td>좋아요수 : <span th:text="${board.likeCount}"></span></td>
				<td>작성일 : <span th:text="${board.regDate}"></span>
			</tr>
			<tr>
				<th colspan="1">첨부파일</th>
				<td colspan="4" style="text-align: left;">
					<th:block th:each="file : ${board.fileList}">
						<a th:href="@{/board/filedown(filename=${file.filename},filepath=${file.filepath})}">
							<span class="material-icons">description</span>
							<span  th:text="${file.filename}"></span>
						</a>
					</th:block>
				</td>
			<tr>
				<td colspan="5">
					<div class="content-wrap" th:utext="${board.boardContent}"></div>
					<div class="like-wrap">
			    		<span th:text="${board.likeCount}"></span>
						<span th:if="${board.isLike}==1" class="material-icons favorite">thumb_down</span>
						<span th:if="${board.isLike}==0" class="material-icons notFavorite">thumb_up</span>
					</div>
				</td>
		</table>
		<div class="update-btn-wrap" th:if="${session.member != null && session.member.memberNo == board.memberNo}">
			<a class="btn-round">수정하기</a>
			<a class="btn-round g">삭제하기</a>
		</div>
			<form action="/board/insertBoardComment" method="post">
				<div th:if="${session.member} != null" class="input-item1 input-comment-box">
					<span class="material-icons">person</span>
					<span th:text=${session.member.memberId}></span>
					<textarea name="boardCommentContent" style="resize:none;"></textarea>
					<button type="submit" class="btn-square" style="height:50px">댓글작성</button>
					<input type="hidden" name="boardRef" th:value="${board.boardNo}">
				</div>
			</form>
		<span>댓글수 : <span th:text="${board.commentCount}"></span></span>
		<div class="comment-wrap" style="border-top:1px solid #ccc;">
			<ul th:each="boardComment : ${board.boardCommentList}" style="border-bottom: 1px solid #ccc;" >
				<li>
					<p class="comment-info">
						<span class="material-icons">person</span>
						<span th:text="${boardComment.boardCommentWriter}"></span>
						작성일 : <span th:text="${boardComment.boardCommentDate}"></span>
						좋아요수 : <span th:text="${boardComment.likeCount}"></span>
						<span th:if="${boardComment.isLike}==1" class="material-icons favorite" th:onclick="likePush(this,[[${boardComment.boardCommentNo}]]);">thumb_down</span>
						<span th:if="${boardComment.isLike}==0" class="material-icons notFavorite" th:onclick="likePush(this,[[${boardComment.boardCommentNo}]]);">thumb_up</span>
					</p>
					<p th:text="${boardComment.boardCommentContent}"></p>
					<div style="display: flex;justify-content: space-between;">
						<span th:text="'답글수 ' +${boardComment.reCommentCount}"></span>
						<div>
							<a href="javascript:void(0)" class="commentShow">답글보기</a>
							<a href="javascript:void(0)" class="recShow">답글달기</a>
						</div>
					</div>
				</li>
				<li>
					<form action="/board/insertBoardComment" method="post">
						<div th:if="${session.member} != null" class="input-item1 input-comment-box" style="display:none;">
							<span class="material-icons">person</span>
							<span th:text=${session.member.memberId}></span>
							<textarea name="boardCommentContent" style="resize:none;"></textarea>
							<button type="submit" class="btn-square" style="height:50px">댓글작성</button>
							<input type="hidden" name="boardRef" th:value="${board.boardNo}">
							<input type="hidden" name="boardCommentRef" th:value="${boardComment.boardCommentNo}">
						</div>
					</form>
				</li>
			</ul>
		</div>
	</main>
	<script>
		const boardNo = "[[${board.boardNo}]]";
		$(".like-wrap>.favorite,.notFavorite").on("click",function(){
			const likeSpan = $(this);
			const isLike = likeSpan.hasClass("favorite")?1:0;
			$.ajax({
				url : "/board/boardLikePush",
				data : {boardNo : boardNo, isLike : isLike},
				type : "post",
				success : function(data){
					if(data == -1){
						console.log("처리오류");
					}else if(data == -10){
						alert("로그인해라");							
					}else{
						if(isLike === 1){
							likeSpan.removeClass("favorite");		
							likeSpan.addClass("notFavorite");
							likeSpan.text("thumb_up");
						}else{
							likeSpan.removeClass("notFavorite");
							likeSpan.addClass("favorite");
							likeSpan.text("thumb_down");
						}
						$(".view-tbl tr>td>span").eq(1).text(data);
						likeSpan.prev().text(data);
					}
				},
				error : function(){
					console.log("error");
				}
			});
		});
		function likePush(obj, boardCommentNo){
			const likeSpan = $(obj);
			const isLike = likeSpan.hasClass("favorite")?1:0;
			$.ajax({
				url : "/board/boardCommentLikePush",
				data : {boardCommentNo : boardCommentNo, isLike : isLike},
				type : "post",
				success : function(data){
					if(data == -1){
						console.log("처리오류");
					}else if(data == -10){
						alert("로그인해라");							
					}else{
						if(isLike === 1){
							likeSpan.removeClass("favorite");		
							likeSpan.addClass("notFavorite");
							likeSpan.text("thumb_up");
						}else{
							likeSpan.removeClass("notFavorite");
							likeSpan.addClass("favorite");
							likeSpan.text("thumb_down");
						}
						$(obj).prev().text(data);
					}
				},
				error : function(){
					console.log("error");
				}
			});
		};
		$(".recShow").on("click",function(){
			const index = $(".recShow").index(this);
			if($(this).text() === "답글달기"){
				$(this).text("취소");
			}else{
				$(this).text("답글달기");
			}
			$(".input-comment-box").eq(index+1).toggle();
		});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>