<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalorieBus</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="src/roulette.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/rullet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <th:block th:include="common/header"></th:block>

    <div class="main-content">
        <div class="top-section">
            <div class="character-image">
                <img src="/image/quokka.png" alt="캐릭터 이미지">
                <button onclick="rotate()">돌려돌려 행운의 돌림판</button>
            </div>
            <div id="app"></div>
        </div>
        <div class="event-info">
            <h1>Rollin 이벤트</h1>
            <p>과연 이번주 당첨자는???</p>
            <p class="explan-text">성공후기 게시판에 가장인기가 많은 회원분 5명을 뽑아<br>룰렛판에 당첨된분에게 소정의 상품을 드립니다!</p>
        </div>
        <div class="event-products">
            <div class="product">
                <h2>지난주 상품</h2>
                <img src="/image/dora.png" alt="지난주 상품">
            </div>
            <div class="product">
                <h2>이번주 상품</h2>
                <img src="/image/KakaoTalk_Photo_2024-08-02-21-26-26.jpeg" alt="이번주 상품">
            </div>
            <div class="product">
                <h2>다음주 상품</h2>
                <img src="/image/ice3.png" alt="다음주 상품">
            </div>
        </div>
    </div>
    





    <th:block th:include="common/footer"></th:block>
    <script src="/js/rullet.js">

    </script>
</body>

</html>