<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>회원가입 양식</title>
    <link href="css/default.css" rel="stylesheet">
    <style>
    .joinform-wrap{
        border: 1px solid var(--line2);
        border-radius: 15px;
        width: 800px;
        margin: 0 auto;
    }
    .page-title{
        margin: 30px;
        text-align: center;
    }
    .joinform-tbl{
        margin: 0 auto;
    }
    .input-item1{
        padding: 10px;
    }
    .input-item1>input{
        width: 100%;
        line-height: 20px;
    }
    .input-item1>p{
        padding-left: 5px;
        font-size: 13px;
    }
    #submit-btn-wrap{
        text-align: center;
    }
    #join-btn{
        width: 300px;
        margin: 30px;
    }
    </style>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    <th:block th:if="${session.member == null}">
    <main class="content">
        <section class="joinform-wrap">
            <div class="page-title">회원가입</div>
            <form action="/member/checkId" name="checkIdForm" method="post">
				<input type="hidden" name="checkId">			
			</form>

            <form>
                <table class="joinform-tbl">
                    <tr>
                        <th style="width: 100px;">아이디</th>
                        <td style="width: 500px;" class="input-item1">
                            <input type="text" name="memberId" id="memberId" style="width: 360px;">
                            <button type="button" class="btn-round" id="id-check-btn">중복 확인</button>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td class="input-item1">
                            <input type="password" name="memberPw" id="memberPw">
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td class="input-item1">
                            <input type="password" name="memberPwRe" id="memberPwRe">
                            <p class="check-msg-pw"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td class="input-item1">
                            <input type="text" name="memberName" id="memberName">
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td class="input-item1">
                            <input type="text" name="memberEmail" id="memberEmail" style="width: 360px">
                            <button type="button" class="btn-round g" id="email-check-btn">인증코드 받기</button>
                        </td>
                    </tr>
                    <tr>
                        <th>인증 코드</th>
                        <td class="input-item1">
                            <input type="text" name="memberVeriCode" id="memberVeriCode" style="width: 360px">
                            <button type="button" class="btn-round g" id="code-check-btn">인증하기</button>
                        </td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td class="input-item1">
                            <input type="text" name="memberPhone" id="memberPhone">
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td class="input-item1">
                            <input type="text" name="memberAddr" id="memberAddr">
                        </td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td class="input-item1">
                            <input type="text" name="memberAddr" id="memberAddr">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="submit-btn-wrap">
                            <button type="submit" class="btn-round" id="join-btn">가입하기</button>
                        </td>
                    </tr>
                </table>
            </form>
		</section>
	</main>
	<script>
		// 비밀번호 확인 input의 입력 값이 변경되면 비밀번호 input의 입력 값과 동일한지 확인
		$("#memberPwRe").on("change", function(){
			$(".pw-check-msg").removeClass("valid").removeClass("invalid");
			const pwValue = $("#memberPw").val();
			const pwReValue = $("#memberPwRe").val();
			if(pwValue === pwReValue){
				$(".pw-check-msg").text("비밀번호가 일치합니다.");
				$(".pw-check-msg").addClass("valid");
			} else {
				$(".pw-check-msg").text("비밀번호가 일치하지 않습니다.");
				$(".pw-check-msg").addClass("invalid");
			}
		})
		$(".id-check-btn").on("click", function(){
			// window.open(새 창을 띄울 페이지, 새 창의 이름, 새 창의 옵션);
			window.open("", "checkId", "width=600, height=300");
			
			// 새 창과 아이디 중복 체크 폼 연결 -> 아이디 중복 체크 폼이 새 창에서 열림!
			$("[name=checkIdForm]").attr("target", "checkId");
			
			// 아이디 중복 체크 폼 내부의 input에 사용자가 입력한 아이디 대입 후 submit
			const inputId = $("#memberId").val();
			$("#memberId").removeClass("valid");
			$("[name=checkId]").val(inputId);
			$("[name=checkIdForm]").submit();
		})
		
		function checkValue(){
			const valid = $(".valid");
			// 아이디 중복 체크에서 valid, 비밀번호 두 개 일치 valid까지 valid 두 개여야 submit 가능하게
			if(valid.length != 2){
				// valid 두 개 아니면 submit 자체를 막음
				swal({
					title: "입력 값 확인",
					text: "입력 값이 올바르지 않습니다.",
					icon: "warning"
				})
				// return false;
			}
		}
		
		$("#memberId").on("keyup", function(){
			$(".id-check-msg").removeClass("valid").removeClass("invalid");
			const memberId = $(this).val();
			// 정규 표현식
			const idReg = /^[a-zA-Z0-9]{4,20}$/;
			if(idReg.test(memberId)){
				// 정규 표현식 만족 시 ajax로 아이디 중복 체크
				$.ajax({
					url: "/member/ajaxCheckId",
					type: "get",
					data: {memberId, memberId},
					success: function(result){
						if (result == 0) {
							$(".id-check-msg").text("사용 가능한 아이디입니다.");
							$(".id-check-msg").addClass("valid")
						}
						else {
							$(".id-check-msg").text("이미 사용 중인 아이디입니다.");
							$(".id-check-msg").addClass("invalid")
						}
						
					},
					error : function() {
						console.log("에러")
					}
				})
			}
			else {
				// 정규 표현식 불만족 시 메시지 띄우기
				$(".id-check-msg").text("아이디는 영문자와 숫자를 4~20글자로 조합해야 합니다.");
				$(".id-check-msg").addClass("invalid");
			}
		})
	</script>
    <th:block th:include="common/footer"></th:block>
</body>
</html>