<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원가입</title>
<link href="/css/memberForm.css" rel="stylesheet">
</head>
<body>
    <th:block th:include="common/header"></th:block>
	<main class="member-content">
		<section class="section">
		    <div class="join-wrap">
		        <div class="logo-box">
		            <img src="/image/caloriebus_logo.png" style="width: 200px;">
		        </div>
		        <div class="join-box">
		            <div id="join-email">
		                <a href="/member/joinForm">이메일로 회원가입</a>
		            </div>
		        </div>
		        <div class="join-box">
		            <div id="sns-join-title">
		                <h3>간편 로그인</h3>
		            </div>
		            <div id="join-naver">
		                <a href="#">네이버로 회원가입</a>
		            </div>
		            <div id="join-kakao">
		                <a href="#">카카오로 회원가입</a>
		            </div>
		        </div>
		        <div class="link-box">
		            <div>
		                <p>이미 계정이 있으신가요?</p>    
		            </div>
		            <div>
		                <a href="/member/loginForm">로그인하기</a>
		            </div>
		        </div>
		    </div>
		</section>
	</main>    
	<th:block th:include="common/footer"></th:block>
</body>
</html>