<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>회원가입 양식</title>
    <link href="css/default.css" rel="stylesheet">
    <style>
    .joinform-wrap{
        border: 1px solid var(--line2);
        border-radius: 15px;
        width: 800px;
        margin: 0 auto;
    }
    .page-title{
        margin: 30px;
        text-align: center;
    }
    .joinform-tbl{
        margin: 0 auto;
    }
    .input-item1{
        padding: 10px;
    }
    .input-item1>input{
    	width: 490px;
        line-height: 20px;
    }
    .input-item1>p{
        padding-left: 5px;
        font-size: 13px;
    }
    #submit-btn-wrap{
        text-align: center;
    }
    #join-btn{
        width: 300px;
        margin: 30px;
    }
    .birth-box{
    	display: flex;
    	justify-content: center;
    }
    </style>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    <th:block th:if="${session.member == null}">
    <main class="content">
        <section class="joinform-wrap">
            <div class="page-title">회원가입</div>
            
            <!-- 회원가입 양식 -->
            <form action="/member/insertMember" method="post" class="joinform-tbl">
                <table class="joinform-tbl">
                    <tr>
                        <th style="width: 100px;">아이디</th>
                        <td style="width: 500px;" class="input-item1">
                            <input type="text" name="memberId" id="memberId" style="width: 360px;" required>
                            <button type="button" class="btn-round" id="id-check-btn">중복 확인</button>
                            <p class="check-msg-id"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td class="input-item1">
                            <input type="password" name="memberPw" id="memberPw" required>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td class="input-item1">
                            <input type="password" name="memberPwRe" id="memberPwRe" required>
                            <p class="check-msg-pw"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td class="input-item1">
                            <input type="text" name="memberName" id="memberName" required>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td class="input-item1">
                        	<input type="hidden" name="memberEmail" id="memberEmail">
                            <input type="text" name="emailInput" id="emailInput" style="width: 100px" required>
                            <span>@</span>
                            <input type="text" name="emailDomain" id="emailDomain" style="width: 100px" required readonly>
                            <select id="selectDomain" style="width: 105px" class="select">                             
                            	<option disabled selected>도메인 선택</option>
                            	<option value="naver.com">naver.com</option>
                            	<option value="gmail.com">gmail.com</option>
                            </select>
                            <button type="button" class="btn-round g" id="email-check-btn">인증코드 받기</button>
                        </td>
                    </tr>
                    <tr>
                        <th>인증 코드</th>
                        <td class="input-item1">
                            <input type="text" name="memberVeriCode" id="memberVeriCode" style="width: 360px" required>
                            <button type="button" class="btn-round g" id="code-check-btn">인증하기</button>
                        </td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td class="input-item1">
                            <input type="text" name="memberPhone" id="memberPhone" required>
                            <p class="check-msg-phone"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td class="input-item1">
                            <input type="text" name="memberAddr" id="memberAddr" required>
                        </td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td class="input-item1">
                        	<input type="hidden" name="memberBirth" id="memberBirth" required>
                        	<div class="birth-box">
								<select class="select" id="birth-year" style="width: 33%">
							    	<option disabled selected value="-1">출생 연도</option>
							  	</select>
							 	<select class="select" id="birth-month" style="width: 33%">
							    	<option disabled selected value="-1">월</option>
							  	</select>
							  	<select class="select" id="birth-day" style="width: 33%">
							    	<option disabled selected value="-1">일</option>
							  	</select>
                        	</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="submit-btn-wrap">
                            <button type="submit" class="btn-round" id="join-btn" onclick="return checkValid()">가입하기</button>
                        </td>
                    </tr>
                </table>
            </form>
		</section>
	</main>
	<script>
		
		// 아이디 정규 표현식 확인 + 버튼 누르면 중복 확인
		$("#memberId").on("keyup", function(){
			$(this).removeClass("valid");
			const memberIdVal = $(this).val();
			const idReg = /^[a-zA-Z0-9]{4,20}$/;
			if(idReg.test(memberIdVal)){
				$(".check-msg-id").text("");
				$("#id-check-btn").on("click", function(){
					$.ajax({
						url:"/member/checkId",
						type:"get",
						data:{"checkId" : memberIdVal},
						success: function(result){
							if(result > 0){ 
								$(".check-msg-id").text("이미 사용 중인 아이디입니다.")
							}
							else {
								$(".check-msg-id").text("사용 가능한 아이디입니다.")						
								$(this).addClass("valid");
							}
						},
						error: function(){
							alert("서버 오류")
						}
					})
				})
			}
			else {
				$(".check-msg-id").text("아이디는 영문자와 숫자를 4~20글자로 조합해야 합니다.");
			}
		})
		
		// 비밀번호 확인
		function pwCheck(){
			$("#memberPw").removeClass("valid");
			const pwValue = $("#memberPw").val();
			const pwReValue = $("#memberPwRe").val();
			if(pwValue === pwReValue){
				$(".check-msg-pw").text("비밀번호가 일치합니다.");
				$("#memberPw").addClass("valid");
			} else {
				$(".check-msg-pw").text("비밀번호가 일치하지 않습니다.");
			}
		}		
		$("#memberPw").on("keyup", function() {
			pwCheck();
		})
		$("#memberPwRe").on("keyup", function(){
			pwCheck();
		})

		// 이메일
		$("#emailInput").on("keyup", function(){
			$("#memberEmail").removeClass("valid");			
		})
		
		$("#selectDomain").on("click", function(){
			$("#memberEmail").removeClass("valid");
			$("#emailDomain").val($(this).val());
		})
		
		$("#email-check-btn").on("click", function(){
			$("#memberEmail").removeClass("valid");
			const emailInput = $("#emailInput").val();
			const emailDomain = $("#emailDomain").val();
			if(emailInput && emailDomain){
				$("#memberEmail").val(emailInput + "@" + emailDomain);
			}
			else {
				alert("이메일 주소가 올바르지 않습니다.")
			}
		})
		
		// 인증 코드 -> 일치하면 $("#memberEmail").addClass("valid"); 넣어주기
		
		
		// 전화번호
		$("#memberPhone").on("change", function(){
			const phoneVal = $(this).val()
			const phoneReg = /^[0-9]{11,11}$/;
			if(phoneReg.test(phoneVal) && phoneVal.length == 11){				
				$(".check-msg-phone").text("");
				$("#memberPhone").addClass("valid");
			}
			else {
				$(".check-msg-phone").text("전화번호는 11자리 숫자로 입력해야 합니다.");			
			}
		})
		
		// 생년월일
		const birthYear = $("#birth-year");
		var isYearOptionExisted = false;
		birthYear.on("focus", function () {
			if(!isYearOptionExisted) {
				for(var i = 2024; i > 1924; i--) {
					const yearOption = $("<option>");
					yearOption.attr("value", i);
					yearOption.text(i);
					$(this).append(yearOption);
				}
				isYearOptionExisted = true;
			}
		})
		
		const birthMonth = $("#birth-month");
		var isMonthOptionExisted = false;
		birthMonth.on("focus", function () {
			if(!isMonthOptionExisted) {
				for(var i = 1; i <= 12; i++) {
					const monthOption = $("<option>");
					if (i < 10) {
						monthOption.attr("value", "0" + i);
						monthOption.text("0" + i);						
					}
					else {						
						monthOption.attr("value", i);
						monthOption.text(i);
					}
					$(this).append(monthOption);
				}
				isMonthOptionExisted = true;
			}
		})
		
		const birthDay = $("#birth-day");
		var isDayOptionExisted = false;
		birthDay.on("focus", function () {
			if(!isDayOptionExisted) {
				for(var i = 1; i <= 31; i++) {
					const dayOption = $("<option>");
					if (i < 10) {
						dayOption.attr("value", "0" + i);
						dayOption.text("0" + i);						
					}
					else {						
						dayOption.attr("value", i);
						dayOption.text(i);
					}
					$(this).append(dayOption);
				}
				isDayOptionExisted = true;
			}
		})
		
		$(".birth-box>select").on("click", function(){
			addMemberBirth();
		})
		
		function addMemberBirth() {			
			if(birthYear.val() > 0 && birthMonth.val() > 0 && birthDay.val() > 0) {
				$("#memberBirth").val(birthYear.val() + "-" + birthMonth.val() + "-" + birthDay.val());
			}
		}

		function checkValid() {
			return true;
		}
		
		/*
		function checkValid(){
			const valid = $(".valid");
			if(valid.length != 6){ // 아이디, 비번, 이메일, 인증코드, 전화번호, 주소
				alert("입력 값이 올바르지 않습니다.")
				return false;
			}
		}
		*/
		</script>
    <th:block th:include="common/footer"></th:block>
</body>
</html>