<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link href="/css/memberForm.css" rel="stylesheet">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="member-content">
		<section class="joinform-wrap">
		    <div class="page-title">
        		<p>로그인<p>
    	    </div>
    	    
            <form action="/member/login" method="post">
                <table class="loginform-tbl">
                    <tr>
                        <th style="width: 100px;">아이디</th>
                        <td style="width: 260px;" class="input-item1">
                        	<input type="text" name="memberId" id="memberId" style="width: 260px">
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td class="input-item1">
                        	<input type="password" name="memberPw" id="memberPw" style="width: 260px" autoComplete="off">
                        </td>
                    </tr>
                    <tr>
                              <th colspan="2">
                                  <button type="submit" name="login-btn" id="join-btn" class="btn-round">로그인</button>                                
                              </th>
                          </tr>
            	</table>
            </form>
	        <div class="link-box">
	            <div>
	                <p>아이디/비밀번호를 잊으셨나요?</p>
	            </div>
	            <div>
	                <a href="/member/forgotId">아이디 찾기</a>
	            </div>
	            <div>	                
	                <a href="/member/forgotPw">비밀번호 찾기</a>
	            </div>
	        </div>
		</section>
	</main>    
	<th:block th:include="common/footer"></th:block>
</body>
</html>