<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<link href="/css/memberForm.css" rel="stylesheet">
</head>
<body>
<th:block th:include="common/header"></th:block>
<main class="member-content">
    <section class="joinform-wrap">
        <div class="page-title">
        	<p>마이페이지<p>
        </div>
        
        <!-- 내 문의글 보기 양식 -->
        <form class="joinform-tbl">
        	<th:block th:include="member/category"></th:block>
        	<th:block th:if="${!#lists.isEmpty(list)}">
					<table class="myboard-tbl">
						<tr>
							<th style="width:50%;">제목</th>
							<th style="width:25%">작성일</th>
							<th style="width:25%">처리 상태</th>
						</tr>
						<tr th:each="inquery : ${list}">
							<td><a th:href="@{/inquery/inqueryView(inqueryNo=${inquery.inqueryNo})}"><span th:text="${inquery.inqueryTitle}"></span></a></td>
							<td th:text="${inquery.inqueryDate}"></td>
							<td th:if="${inquery.inqueryContent != null}">답변 완료</td>
							<td th:if="${inquery.inqueryContent} == null">답변 대기 중</td>
						</tr>
					</table>
					<div id="pageNavi" th:utext="${pageNavi}"></div>
			</th:block>
			<th:block th:if="${#lists.isEmpty(list)}">
				<div class="info-text-box">
					<h4>작성한 문의글이 없습니다.</h4>
				</div>
			</th:block>
        </form>
	</section>
</main>
</body>
</html>