<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 재설정</title>
<link href="/css/memberForm.css" rel="stylesheet">
<style>
#update-pw-btn {
	width: 300px;
	margin: 30px;
}
</style>
</head>
<body>
<th:block th:include="common/header"></th:block>
<main class="content">
    <section class="joinform-wrap">
        <div class="page-title">
        	<p>비밀번호 재설정<p>
        </div>
        
        <!-- 비밀번호 재설정 폼 -->
		<form action="/member/updatePw" method="post" class="joinform-tbl">
	        <input th:if="${session.member == null}" type="hidden" id="number" name="number" th:value="${session.tempMember.memberNo}">
	        <input th:if="${session.member != null}" type="hidden" id="number" name="number" th:value=${session.member.memberNo}>
	       	<table class="joinform-tbl">
            	<tr>
                    <th style="width: 100px;">비밀번호</th>
                    <td class="input-item1" colspan="2" style="width: 360px">
                        <input type="password" name="memberPw" id="memberPw" required>
                    </td>
                </tr>
                <tr>
                	<td></td>
                	<td colspan="2">
                        <p class="check-msg-pw" style="visibility: hidden">비밀번호 확인</p>
                	</td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td class="input-item1" colspan="2">
                        <input type="password" name="memberPwRe" id="memberPwRe" required>
                    </td>
                </tr>
                <tr>
                	<td></td>
                	<td colspan="2">
                        <p class="check-msg-pwre" style="visibility: hidden">비밀번호 일치 확인</p>
                	</td>
                </tr>
                <tr>
                    <td id="submit-btn-wrap" colspan="3">
                        <button type="submit" class="btn-round" id="update-pw-btn" onclick="return checkValid()">비밀번호 재설정</button>
                    </td>
               	</tr>
	        </table>
		</form>
	</section>
</main>
<script>
	
	//비밀번호 정규 표현식 확인
	$("#memberPw").on("keyup", function(){
		$(this).removeClass("valid");
		const memberPwVal = $(this).val();
		const pwReg = /^[a-zA-Z0-9]{8,20}$/;
		if(pwReg.test(memberPwVal)){
			$(".check-msg-pw").css("visibility", "hidden");
			$(this).addClass("valid");
		}
		else {
			$(".check-msg-pw").text("비밀번호는 영문자와 숫자를 8~20글자로 조합해야 합니다.").css("visibility", "visible").css("color", "var(--point1)");
		}
	})
		
	// 비밀번호 일치 여부 확인 (비밀번호, 비밀번호 확인에 입력될 때마다 실행)
	function pwCheck(){
		$("#memberPwRe").removeClass("valid");
		const pwValue = $("#memberPw").val();
		const pwReValue = $("#memberPwRe").val();
		if(pwValue === pwReValue){
			$(".check-msg-pwre").css("visibility", "hidden");
			$("#memberPwRe").addClass("valid");
		} else {
			$(".check-msg-pwre").text("비밀번호가 일치하지 않습니다.").css("visibility", "visible").css("color", "var(--point1)");
		}
	}		
	$("#memberPw").on("keyup", function() {
		pwCheck();
	})
	$("#memberPwRe").on("keyup", function(){
		pwCheck();
	})

	//입력값 확인
	function checkValid(){
		const valid = $(".valid");
		if(valid.length != 2){ // 비번 정규식, 일치 여부
			alert("비밀번호가 일치하는지 확인해 주세요.")
			return false;
		}
		return true;
	}
</script>
</body>
</html>