<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/faqMain.css">
    <link rel="stylesheet" href="css/headfooter.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="Semi_Project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<style>
.faq{
    padding: 50px 0;
    width: 1200px;
    height: 800px;
    margin: 0 auto;  
}
</style>
</head>
<body>

</body>
</html>