<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/headfooter.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="Semi_Project.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<style>
.faqview{
    padding: 50px 0;
    width: 1000px;
    height: 600px;
    margin: 0 auto;

}
.faqView-title{
    margin-bottom: 50px;
    text-align: center;
}
.faqView-title>*{
    font-size: 30px;
    font-weight: bolder;    
}
.faqContent{
	min-height: 300px;
	font-size : 15px;
	text-align : left;
}
.wrap>.tbl tr>*{
	font-size: 17px;
}
</style>
<th:block th:include="common/header"></th:block>
</head>
<body>

<div class="faqview">
        <div class="faqView-title">
            <span>자주 묻는 질문</span>
        </div>
	<div class="container">
     	<div class="wrap">
          	<table class="tbl">
               <tr>
                   <th>제목</th>
                   <td colspan="3" th:text="${f.faqTitle}">
                  </td>
               </tr>
               <tr>
                  <th style="width:10%;">작성자</th>
                  <td style="width:40%;" >
                  <span th:text="${f.memberNo}"></span>
                  </td>
               </tr>
               <tr>
                  <td colspan="4">
                      <div class="faqContent" th:utext = "${f.faqContent}">
                      </div>
                  </td>
               </tr>          
          	</table>
          	<div class="option-button">
          		<button class="btn-primary"  th:onclick="faqUpdate([[${f.faqNo}]])">수정</button>
          		<button class="btn-secondary" th:onclick="faqDelete([[${f.faqNo}]])">삭제</button>
          	</div>
      	</div>
	</div>
</div>
<script>
	const faqNo = "[[${f.faqNo}]]";
	function faqDelete(faqNo) {
		if(confirm("faq를 삭제하시겠습니까?")) {
			location.href = "/faq/faqDelete?faqNo="+faqNo
		}
	}
	function faqUpdate(faqNo) {
		if(confirm("faq를 수정하시겠습니까?")) {
			location.href = "/faq/faqUpdate?faqNo="+faqNo
		}
	}
</script>
</body>
<th:block th:include="common/footer"></th:block>
</html>