body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    width: 100%;
    max-width: 1400px;
    margin: 30px auto;
    flex: 1;
}

.news-title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Italianno', cursive;
    color: rgb(119, 86, 45);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-animate.visible {
    opacity: 1;
    transform: translateY(0);
}

.table-container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

.custom-tbl {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-tbl th{
	padding: 8px;
    text-align: center;
    border-left: none;
    border-right: none;
    background-color: var(--main2);
    font-weight: bold;
} 

.custom-tbl td {
    padding: 8px;
    text-align: center;
    border-left: none;
    border-right: none;
    font-weight: 200;
}

.custom-tbl-hover tbody tr {
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd;
}

.custom-tbl-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.custom-tbl thead tr {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.pageNavi-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
#pageNavi {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
}
#pageNavi>ul{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}

#pageNavi a {
    display: inline-block;
    padding: 5px 10px;
    color: #333;
}

#pageNavi a:hover {
    text-decoration: underline;
}
.active{
		text-decoration: underline;
		font-weight: 800;
	}
.search-write-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.input-item {
    display: flex;
    align-items: center;
    background-color: #ededed;
    border-radius: 15px;
    padding: 5px 10px;
}

.input-item input {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    padding: 5px 10px;
    color: #141414;
}

.input-item input::placeholder {
    color: #9f9f9f;
    font-family: 'Italianno', cursive;
    font-size: 33px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 20px;
    color: #fff;
}

#write-btn {
    background-color: var(--main2);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: regular;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
    position: absolute;
    right: 14%;
}

#write-btn:hover {
    background-color: rgb(198, 182, 164);
}
.spread-underline {
  position: relative;
}

.spread-underline:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffb000;
  transition: width 0.3s ease, left 0.3s ease;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}
