<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalorieBus</title>
</head>

<body>
    <th:block th:include="common/header"></th:block>

    <div class="main-content">
        <div class="swiper banner-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="/image/banner1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="/image/banner2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="/image/banner3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="javascript:void(0)">
                        <img src="/image/banner4.jpg" alt="">
                    </a>
                </div>
            </div>
            
            <div class="swiper-pagination"></div>
            
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div class="content-section">
        <div class="content-title">
            <h2>진행중인 공구</h2>
        </div>
        <div class="swiper content-swiper-gongu">
            <div class="swiper-wrapper">
                <th:block th:each="product1 : ${list}">
                    <div class="swiper-slide"><img th:src="@{/product1/main}+${product1.productImg}"><span th:text="${product1.productTitle}"></span></div>
                </th:block>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="content-section">
        <div class="content-title">
            <h2>칼로리버스가 내 생각을 바꾸다</h2>
            <p class="scroll-animate">100만명의 회원들과 전문트레이너인 관리자가 오랜경험으로 회원들에게 맞춰진 다이어트 솔루션!<br>
            다이어트 더이상 힘들지않습니다!</p>
        </div>
        <div class="image-gallery">
    <img class="image-item" src="/image/pic5.jpg" alt="Image 9">
    <img class="image-item" src="/image/pic1.jpg" alt="Image 10">
    <img class="image-item" src="/image/pic2.jpg" alt="Image 11">
    <img class="image-item" src="/image/pic3.jpg" alt="Image 12">
    <img class="image-item" src="/image/pic4.jpg" alt="Image 13">
</div>
    </div>

    <div class="content-section">
        <div class="content-title">
            <h2>칼로리버스가 빛내준 연예인들</h2>
        </div>
        <div class="swiper content-swiper-event">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/image/싸인1.jpg" alt="Image 14"></div>
                <div class="swiper-slide"><img src="/image/싸인2.jpg" alt="Image 15"></div>
                <div class="swiper-slide"><img src="/image/싸인3.jpg" alt="Image 16"></div>
                <div class="swiper-slide"><img src="/image/가수1.jpg" alt="Image 17"></div>
                <div class="swiper-slide"><img src="/image/가수2.jpg" alt="Image 18"></div>
                <div class="swiper-slide"><img src="/image/가수4.jpg" alt="Image 19"></div>
                <div class="swiper-slide"><img src="/image/가수5.jpg" alt="Image 20"></div>
                <div class="swiper-slide"><img src="/image/가수6.jpg" alt="Image 21"></div>
                <div class="swiper-slide"><img src="/image/가수7.jpg" alt="Image 22"></div>
                <div class="swiper-slide"><img src="/image/가수8.jpg" alt="Image 23"></div>
                <div class="swiper-slide"><img src="/image/가수9.jpg" alt="Image 24"></div>
                <div class="swiper-slide"><img src="/image/가수10.jpg" alt="Image 25"></div>
                <div class="swiper-slide"><img src="/image/가수11.jpg" alt="Image 26"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <aside class="side-left">
        <div class="app-download">
            <a>인스타그램 팔로우</a>
            <img src="/image/qrcode.png" alt="QR Code" class="qr-code">
        </div>
    </aside>

    <aside class="side-right">
        <div class="character">
            <img src="/image/quokka main.png" alt="Quokka Character">
        </div>
        <div class="advertisement">
            <a href="/inquery/inqueryMain?reqPage=1" id="inquiry-button">제휴문의</a>
        </div>
    </aside>

    <th:block th:include="common/footer"></th:block>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const options = {
                root: null,
                rootMargin: "0px",
                threshold: 0.1
            };

            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                    } else {
                        entry.target.classList.remove("visible");
                    }
                });
            }, options);

            const targets = document.querySelectorAll(".content-title h2, .scroll-animate");
            targets.forEach(target => {
                observer.observe(target);
            });
        });

        // Banner Swiper
        var swiperBanner = new Swiper('.banner-swiper', {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false
            },
            speed: 7000,
            freeMode: true,
            pagination: {
                el: '.banner-swiper .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.banner-swiper .swiper-button-next',
                prevEl: '.banner-swiper .swiper-button-prev',
            },
        });

        var swiperGongu = new Swiper('.content-swiper-gongu', {
            loop: true,
            slidesPerView: 4,
            spaceBetween: 20,
            autoplay: {
                delay: 0,
                disableOnInteraction: false
            },
            speed: 4500,
            pagination: {
                el: '.content-swiper-gongu .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.content-swiper-gongu .swiper-button-next',
                prevEl: '.content-swiper-gongu .swiper-button-prev',
            },
        });

        // 성공후기 Swiper
        var swiperSuccess = new Swiper('.content-swiper-success', {
            loop: true,
            slidesPerView: 4,
            spaceBetween: 20,
            autoplay: {
                delay: 0,
                disableOnInteraction: false
            },
            speed: 5500,
            pagination: {
                el: '.content-swiper-success .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.content-swiper-success .swiper-button-next',
                prevEl: '.content-swiper-success .swiper-button-prev',
            },
        });

        // 이벤트 Swiper
        var swiperEvent = new Swiper('.content-swiper-event', {
            loop: true,
            slidesPerView: 4,
            spaceBetween: 20,
            autoplay: {
                delay: 0,
                disableOnInteraction: false
            },
            speed: 5000,
            pagination: {
                el: '.content-swiper-event .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.content-swiper-event .swiper-button-next',
                prevEl: '.content-swiper-event .swiper-button-prev',
            },
        });
        
        document.addEventListener("DOMContentLoaded", function() {
            const options = {
                root: null,
                rootMargin: "0px",
                threshold: 0.1
            };

            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach((entry, index) => {
                    if (entry.isIntersecting) {
                        setTimeout(() => {
                            entry.target.classList.add("visible");
                        }, index * 500); // delay each image by 500ms
                    } else {
                        entry.target.classList.remove("visible");
                    }
                });
            }, options);

            const targets = document.querySelectorAll(".image-item");
            targets.forEach(target => {
                observer.observe(target);
            });
        });
    </script>
</body>

</html>
