<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>정보공유서비스</title>
<style>
	#searchFrm{
		display: flex;
		float: right;
	}
	.btn{
		width: 70px;
		height: 30px;
		background-color: rgba(241, 229, 215, 1);
		border: 0.8px solid #D9D9D9;
	}
	input{
		width: 200px;
		height: 30px;
		border: 0.8px solid #D9D9D9;
	}
</style>

</head>
<body>
	<th:block th:include="common/header"></th:block>
		<main class="content">
			<section class="section">
				<div class="page-title">음식칼로리</div>
				<table class="tbl tbl-border food">
					<tr>
						<th style="width: 20%">식품명</th>
						<th style="width: 15%">칼로리(kcal)</th>
						<th style="width: 15%">탄수화물(g)</th>
						<th style="width: 15%">단백질(g)</th>
						<th style="width: 15%">지방(g)</th>
						<th style="width: 10%">당류(g)</th>
						<th style="width: 10%">나트륨(mg)</th>
					</tr>
				</table>
				<div class="btn-zone">
					<button id="more-btn" class="btn-round">더보기</button>
				</div>
			</section>
		</main>
		<script>
			$(document).ready(function() {
			    let pageNo = 18;       
			    const pageSize = 10; 

			    function loadMoreData() {
			        $.ajax({
			            url: "/foodNutrition/foodTotal",
			            data: { pageNo: pageNo, pageSize: pageSize },
			            type: "get",
			            success: function(data) {
			                if (data.length > 0) {
			                    for (let i = 0; i < data.length; i++) {
			                        const f = data[i];
			                        const tr = $("<tr>");
			                        
			                        const foodNameTd = $("<td>").text(f.foodName);
			                        const kcalTd = $("<td>").text(f.kcal);
			                        const protTd = $("<td>").text(f.prot);
			                        const fatTd = $("<td>").text(f.fat);
			                        const cardTd = $("<td>").text(f.card);
			                        const sugarTd = $("<td>").text(f.sugar);
			                        const natTd = $("<td>").text(f.nat);
			                        
			                        tr.append(foodNameTd, kcalTd, protTd, fatTd, cardTd, sugarTd, natTd);
			                        $(".food").append(tr);
			                    }
			                    pageNo++; 
			                } else {
			                    console.log("더 이상 로드할 데이터가 없습니다.");
			                    $("#more-btn").hide(); 
			                }
			            },
			            error: function() {
			                console.log("Error");
			            }
			        });
			    }
			    loadMoreData();
			    $("#more-btn").on("click", function() {
			        loadMoreData();
			    });
			});
		</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>